@import '../../styles/mixins/ul-reset';
@import '../../styles/variables/colors';

.master {
  background-color: $gray-80;
  box-sizing: border-box;
  color: #ffffff;
  flex: 1;
  height: 100vh;
  padding: ms(3);
}

.pages {
  @include ul-reset;
}

.active {
  color: $azure;
}
