@import '../../../styles/mixins/label-text';
@import '../../../styles/mixins/transitions';
@import '../../../styles/functions/ms';
@import '../../../styles/variables/colors';

$dot-size: 6px;

.dot,
.optionLabel {
  cursor: pointer;
}

.dot {
  @include transition;
  appearance: none;
  border: 1px solid white;
  border-radius: $dot-size;
  color: inherit;
  flex: none;
  height: $dot-size;
  margin: 0 0 0 ms(-1);
  position: absolute;
  width: $dot-size;

  &:focus {
    outline: 0;
  }
}

.groupLabel {
  @include label-text;
}

.optionLabel {
  color: white;
  flex: 2;
  font-size: ms(-1);
  padding: ms(-4) ms(-1) ms(-4) ms(3);
}

.optionWrapper {
  @include transition;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: ms(-4) 0 0;

  &:hover {
    color: $ultramarine;
  }

  &:hover,
  &.selected {
    .dot {
      transform: scale(1.65);
    }
  }

  &.selected {
    background-color: currentColor;
    color: $ultramarine;

    .dot {
      background-color: white;
    }
  }
}
