@import '../../../styles/mixins/label-text';
@import '../../../styles/mixins/transitions';
@import '../../../styles/functions/ms';
@import '../../../styles/variables/colors';

$track-height: 4px;
$thumb-size: 3.5 * $track-height;

.fill {
  background-color: $ultramarine;
  border-radius: 2px 0 0 2px;
  content: '';
  height: $track-height;
  position: absolute;
  width: 100%;
}

.label {
  @include label-text;
  @include transition;
}

.maxxed {
  .label,
  .slider::-webkit-slider-thumb,
  .value {
    color: $ultramarine;
  }
}

.minned {
  .label,
  .slider::-webkit-slider-thumb,
  .value {
    color: $gray-40;
  }
}

.slider {
  appearance: none;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: grab;
  height: $track-height;
  margin: 0;
  width: 100%;

  &::-webkit-slider-thumb {
    @include transition;
    appearance: none;
    background-color: currentColor;
    border: 2px solid currentColor;
    border-radius: 100%;
    color: $light-blue;
    height: $thumb-size;
    position: relative;
    transform-origin: center;
    width: $thumb-size;
  }

  &:active {
    &::-webkit-slider-thumb {
      border-width: 1.5px;
      cursor: grabbing;
    }
  }

  &:active,
  &:hover {
    &::-webkit-slider-thumb {
      transform: scale(1.6);
    }
  }

  &:active,
  &:focus,
  &:hover {
    &::-webkit-slider-thumb {
      background-color: white;
    }
  }

  &:focus {
    outline: 0;
  }
}

.sliderInnerWrapper {
  display: flex;
  flex-grow: 2;
  margin: ($thumb-size - $track-height) 0;
  position: relative;
}

.sliderOuterWrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.value {
  @include transition;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  color: white;
  flex: none;
  font-size: ms(-1);
  height: ms(2);
  line-height: ms(1);
  margin: 2px 0 0 ms(-4);
  padding: 0 ms(-4) 0;
  text-align: center;
  width: ms(2);

  &:focus {
    background-color: white;
    color: $black-coral;
    outline: 0;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
