$gray-0: #fafafa;
$gray-5: #f6f6f6;
$gray-10: #f2f2f3;
$gray-20: #e0dfe1;
$gray-30: #c2c1c4;
$gray-40: #9a999d;
$gray-50: #6e6d71;
$gray-60: #464549;
$gray-70: #29282b;
$gray-80: #171619;
$gray-90: #0f0e12;

$azure: #279af1;
$ultramarine: #474dff;
$tuscany: #c49991;
$black-coral: #60656f;
